@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-small: 10px;
  --font-regular: 16px;
  --font-family: 'Roboto', sans-serif;

  --font-weight-regular: 300;
 
  --darker-grey: #4d4c4c;
  --dark-grey: #ddd;
  --light-grey: #eee;
  --lighter-grey: #fff;

  --light-purple: #ab14ab;

  --light-red: #f02323;
  --lighter-red: #e31a1a;

  --light-shadow: rgba(0, 0, 0, 0.4);
  --lighter-shadow: rgba(0, 0, 0, 0.2);
}

html {
  font-size: var(--font-regular);
  font-family: var(--font-family);
}

.container {
  display: grid;
  grid-template-rows: 300 1fr;
  grid-template-columns: 1fr;

  /* margin to make it look good */
  margin: 5% auto;
  width: 50vw;
  box-shadow: 6px 5px 10px -6px var(--light-shadow);
  border: solid 1px var(--light-grey);
}

.title {
  background-color: var(--light-purple);
  color: var(--lighter-grey);
  padding: 1em;
  grid-row: 1;
}

.italic {
  font-style: italic;
}

.caption {
  text-transform: uppercase;
  font-weight: 300;
}

/* Button */
.btn {
  font-size: 1em;
  font-weight: var(--font-weight-regular);
  padding: 0.5rem;

  color: var(--darker-grey);
  text-decoration: none;
  text-align: center;
}

.btn:hover,
.btn:focus {
  opacity: 0.5;
  background-color: var(--light-grey);
}

.display-div {
  text-align: right;
  padding: 1em;
  display: grid;
}

.display-expression {
  font-weight: var(--font-weight-regular);
  height: 20px;
  letter-spacing: 1px;
}

.display-value {
  font-size: 1.5em;
}

/* Buttons of the calculator */
.show-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}

/* Error DIV */
.error-div {
  position: absolute;
  width: 300px;
  font-size: 0.7em;
  top: 5px;

  /* align the div to center */
  left: 0%;
  right: 0%;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  html {
    font-size: var(--font-small);
  }

  .error-div {
    width: 200px;
  }

  .container {
    width: 90vw;
  }
}

.error-msg {
  color: var(--light-red);
  border-left: solid 2px var(--lighter-red);
  background-color: #f0e4bb;
  padding: 1em;
}