/* ToDo List related styles*/

.description {
  grid-row: 2;
  padding: 1em;
  box-shadow: 0 2px 10px var(--lighter-shadow);
}

.italic {
  font-style: italic;
}

.caption {
  text-transform: uppercase;
}

.card {
  padding: 1em;
  position: relative;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 3px;
}

.card:hover {
  background-color: var(--light-grey);
}

.close-icon {
  position: absolute;
  right: 4px;
  top: 4px;

  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.close-icon:hover,
.close-icon:focus {
  opacity: 0.5;
}

/* Input Box */
.md-input-box {
  border: 0;
  outline: 0;
  padding: 3px;
  border-bottom: solid 0.5px var(--light-purple);
}

.md-input-box:focus {
  border-bottom: solid 2px var(--light-purple);
}

/* Button */
.btn {
  font-size: 1em;
  font-weight: 300;

  padding: 0.5rem;

  background-color: var(--light-purple);
  color: var(--light-grey);
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  color: var(--lighter-grey);
}

.show-add-items {
  margin: 2%;
  display: grid;
  grid-template-rows: 1fr 60vh;
  grid-template-columns: 1fr;
}

/* Add Items related */
.add-items {
  grid-row: 1;
  height: 50px;
}

/* List Items related */
.list-items {
  grid-row: 2;
  overflow-y: auto;
}

input[type="text"] {
  width: 100%;
}
